<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="border-collapse: collapse; margin: 10px auto;">
    <thead>
    <td style="border: 1px solid gray">№</td>
    <td style="border: 1px solid gray">Фото</td>
    <td style="border: 1px solid gray">Имя</td>
    <td style="border: 1px solid gray">Цена</td>
    <td style="border: 1px solid gray">Количество</td>
    <td style="border: 1px solid gray">Всего</td>
    </thead>
    <tbody>
    <!--Вставлять сюда :))-->
    </tbody>
</table>
</body>
</html>