.pagination {
    list-style: none;
    float: left;
    width: 90%;
    text-align: center;
}

.page, .break {
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    border: 1px solid #DADADA;
    border-radius: 3px;
    padding: 4px;
}

.page > a, .break > a {
    color: #e36f64;
}

.page:hover, .break:hover {
    border-color: #e36f64;
}

.page:hover > a, .break:hover > a{
    color: #e36f64;
}

.next {
    display: none;
}

.previous {
    display: none;
}



.selected {
    cursor: default;
    background-color: #e36f64;
    border-color: #e36f64;
}

.selected > a {
    color: #ffffff !important;
}